* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

@font-face{
   font-family: "fuente1";
   src: url('summer.ttf');
}

body{
  /**background:#1b1b2b;**/
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #76b852, #8dc26f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #76b852, #8dc26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding:75px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

p{
	font-family: "fuente1";
	font-size: 110px;
  text-align: center;
	padding: 8px;
}

img{
max-width: 600px;
max-height: 500px;
}


#menu {
	padding-bottom: 20px;
}

.btn{
  color:#fff;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  /**padding:20px 20px; #000;**/
  color:#1b1b1b;
}

.footer{
  font-size:8px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:5px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:210px;
  margin:auto;
  margin-top:400px;
}
