

#footer{
  margin-top: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
  width:100%;
  height:15%;   /* Height of the footer */
  background: #333030;
}

div.container{
  width: 100%;
  height: 90%;
}